@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.main {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
  min-height     : 100vh;
}

.container {
  margin   : 0 auto;
  max-width: 1400px;
  padding  : 0 1rem;
  position : relative;
  height   : 100%;
}

.section {
  max-width      : 1400px;
  margin         : 0 auto;
  display        : flex;
  flex-direction : column;
  justify-content: space-evenly;
  align-items    : center;
  z-index        : 1;
  width          : 100%;
}

.section p {
  margin: 0px;
}

.navbar {
  position: absolute;
  width   : 100%;
  height  : 100px;
  z-index : 1;
}

.navbarContent {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: space-between;
  height         : 100%;
}

.navLogoLeft {
  position: relative;
  display : inherit;
  width   : 100%;
  z-index : 2;
}

.navLogoLeft:hover img {
  transform: scale(1.1);
}

.navLogoLeft img {
  cursor    : pointer;
  transition: .2s;
}

.navLogoCentre {
  display: none;
}

.navContent {
  display       : flex;
  flex-direction: row;
  gap           : 30%;
  width         : 100%;
}

.navLinks {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  gap           : 10%;
  color         : #FFFFFF;
  font-size     : larger;
}

.navLinks a {
  transition: .5s;
}

.navLinks a:hover {
  color: #96A2BB;
}

.navMenu {
  display: none;
}

.menu1 {
  top: 0;
}

.menu2 {
  top: 40%;
}

.menu3 {
  bottom: 0;
}

/* .menu1.active {
  display: none;
}

.menu2.active {
  display: none;
}

.menu3.active {
  display: none;
} */

.navMenuDropdown {
  display: none;
}

.appButton {
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 5px;
  background     : #DCCB8D;
  font-weight    : bold;
  width          : 30%;
  padding        : 5px;
  cursor         : pointer;
  transition     : .5s;
}

.appButton:hover {
  background: #B9B7B9;
}

.appButton p {
  margin: 0px;
}

.appButton:hover .launchText {
  display: none;
}

.comingSoonText {
  display: none;
}

.appButton:hover .comingSoonText {
  display: block;
}

.header {
  min-height     : 100vh;
  display        : flex;
  align-items    : center;
  height         : 100%;
  width          : 100%;
  position       : relative;
  background     : linear-gradient(45deg, rgb(22, 29, 41, 0.3), rgb(22, 29, 41, 0.3)), url("/blueflamebg.png");
  background-size: cover;
  z-index        : 1;
}

.headerWrap {
  display        : flex;
  flex-direction : row;
  gap            : 10px;
  justify-content: center;
  align-items    : center;
}

.headerContent {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  padding       : 4rem;
  width         : 70%;
}

.headerContent p {
  font-family   : 'Neuton';
  font-style    : normal;
  font-weight   : 700;
  font-size     : 72px;
  line-height   : 91px;
  text-transform: uppercase;
  color         : #FFFFFF;
  margin        : 0px;
}

.headerAppButton {
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 5px;
  background     : #DCCB8D;
  width          : 20%;
  height         : 40px;
  padding        : 5px;
  cursor         : pointer;
}

.headerAppButton p {
  font-size: 16px;
  color    : black;
}

.about {
  height         : 100%;
  width          : 100%;
  display        : flex;
  flex-direction : row;
  gap            : 10px;
  justify-content: center;
  align-items    : center;
  position       : relative;
  margin-bottom  : 10%;
}

.aboutContent {
  z-index: 20;
}

.aboutContent h1 {
  font-family   : 'Neuton';
  font-style    : normal;
  font-weight   : 400;
  font-size     : 60px;
  line-height   : 70px;
  text-transform: uppercase;
  letter-spacing: 0.0125em;
  color         : #DCCB8D;
  padding       : 4rem;


}

.aboutBox {
  background   : rgba(50, 52, 64, 0.7);
  box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding      : 4%;
  margin       : 20px;
  max-width    : 600px;
}

.aboutBox2 {
  background   : #B4A28B;
  box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding      : 4%;
  margin       : 20px;
  max-width    : 600px;
}

.aboutContent p {
  color    : #FFFFFF;
  font-size: 26px;
}

.celticBackground {
  position       : absolute;
  height         : 1487px;
  top            : 100%;
  width          : 100%;
  background     : linear-gradient(45deg, rgb(22, 29, 41, 0.5), rgb(22, 29, 41, 0.5)), url("/CelticBg.png");
  background-size: cover;
}


.logo {
  position: relative;
  width   : 500px;
  height  : 500px;
}

.NFTCards {
  flex-direction: row;
  position      : absolute;
  height        : 50%;
  width         : 35%;
  top           : 35%;
  right         : 10%;
}

.NFTCard1 {
  position: absolute;
  z-index : 6;
  width   : 300px;
  height  : 300px;
}

.NFTCard2 {
  position: absolute;
  left    : 20%;
  z-index : 5;
  width   : 300px;
  height  : 300px;
}

.NFTCard3 {
  position: absolute;
  left    : 40%;
  z-index : 4;
  width   : 300px;
  height  : 300px;
}


.statement {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  position       : relative;
  width          : 100%;
  margin-bottom  : 10%;
}


.statement h2 {
  font-size  : 40px;
  color      : #ffffff;
  position   : relative;
  align-items: center;

}

.statementContent {
  font-size  : 40px;
  color      : hsl(0, 11%, 98%);
  line-height: 40px;
}

.statementContentBox {

  width : 100%;
  height: 100%;

}

.statementContent ul {
  list-style-image: url("/bar.png");

}

.statementContent li {
  font-size: 60px;

}

.statementContent li span {
  font-size  : x-large;
  margin-left: 20px;

}

.statementContentBox p {
  color    : #96A2BB;
  font-size: 40px;

}

.quote {
  width: 50%;
}

.quote p {
  width : 80%;
  margin: auto;
}

.quoteMark1 {
  position   : relative;
  bottom     : -50px;
  font-size  : 100px;
  font-weight: bold;
  font-style : italic;
  color      : #FFFFFF;
  font-family: 'MedievalSharp', cursive;
}

.quoteMark2 {
  position   : relative;
  left       : 80%;
  font-size  : 100px;
  font-weight: bold;
  font-style : italic;
  color      : #FFFFFF;
  font-family: 'MedievalSharp', cursive;

}

.solution {
  display        : flex;
  gap            : 20px;
  width          : 100%;
  justify-content: center;
  align-items    : center;
  position       : relative;
  padding        : 0px 4rem;
  background-size: cover;
  margin-bottom  : 10%;
}

.solutionscontent {
  display       : flex;
  flex-direction: column;
  gap           : 40px;
}


.solution h1 {
  font-size      : 48px;
  line-height    : 61px;
  text-align     : center;
  color          : #FFFFFF;
  position       : relative;
  padding        : 2%;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  margin         : 0px;
}

.solutionsp {
  font-weight: 400;
  font-size  : 48px;
  line-height: 61px;
  text-align : center;
  color      : #DEC4A1;
}

.solutionsgrid {
  padding: 0px 10%;
}

.solutionsgrid p {
  font-size     : x-large;
  line-height   : 25px;
  letter-spacing: -0.011em;
  color         : #FFFFFF;
}


.solutionsgrid h1 {
  text-align    : left;
  font-size     : 30px;
  line-height   : 25px;
  letter-spacing: -0.011em;
  color         : #DCCB8D;
  margin        : 0px;
}

.solutionsgrid1 {
  width         : 100%;
  display       : flex;
  flex-direction: row;

}

.solutionsgrid2 {
  width         : 100%;
  flex-direction: column;
  display       : flex;
}

.solutionsbox1 {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  background    : rgba(50, 52, 64, 0.7);
  box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius : 20px;
  padding       : 4%;
  margin        : 30px;
  border        : 5px solid #DCCB8D;
  width         : 60%;
  position      : relative;
  height        : 100%;

}


.solutionsbox2 {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  background    : rgba(50, 52, 64, 0.7);
  box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius : 20px;
  width         : 60%;
  padding       : 4%;
  margin        : auto 0px;
  border        : 5px solid #DCCB8D;
  position      : relative;
  height        : 100%;
}

.solutionsbox3 {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  background    : rgba(50, 52, 64, 0.7);
  box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius : 20px;
  padding       : 4%;
  border        : 5px solid #DCCB8D;
  position      : relative;
  height        : 100%;
  width         : 50%;
  align-self    : center;
}

.solutionsfooter {
  color      : #DCCB8D;
  font-weight: 700;
  font-size  : 96px;
  line-height: 121px;
  text-align : center;
}

.solutionsfooterp {
  font-size  : 24px;
  line-height: 30px;
  text-align : center;
  color      : #FFFFFF;
}

.feature {
  display        : flex;
  flex-direction : column;
  gap            : 50px;
  justify-content: center;
  height         : 100%;
  width          : 100%;
  padding        : 5rem;
  margin-bottom  : 10%;
}

.feature h1 {
  font-size  : 64px;
  line-height: 16px;
  color      : #DCCB8D;
}

.feature p {
  font-size  : 36px;
  line-height: 46px;
  color      : #FFFFFF;
}

.featuregrid {
  display       : flex;
  flex-direction: row;
  gap           : 15px;
  position      : relative;
  width         : 100%;
  align-self    : center;
  padding       : 2rem;
}

.featureBox {
  background     : #323440;
  border         : 5px solid #DCCB8D;
  border-radius  : 20px;
  width          : 25%;
  padding        : 3%;
  align-items    : center;
  display        : flex;
  justify-content: center;
  flex-direction : column;
  gap            : 20px;
  cursor         : pointer;
}

.featureBox:hover {
  background: #B4A28B;
  transition: all 0.3s ease-in;
}

.featureBox:hover .icon {
  display   : none;
  transition: all 0.3s ease-out;
}

.featureBox:hover h1 {
  display   : none;
  transition: all 0.3s ease-out;
}

.featureText {
  display: none;
}

.featureBox:hover .featureText {
  display    : block;
  font-weight: 400;
  font-size  : 22px;
  line-height: 22px;
  text-align : center;
  color      : #FFFFFF;
}

.featureBox h1 {
  font-weight: 400;
  font-size  : 26px;
  line-height: 30px;
  color      : #DCCB8D;
  text-align : center;

}

.icon {
  position: relative;
  width   : 70px;
  height  : 70px;
}

.featureBackground {
  position       : absolute;
  width          : 125%;
  height         : 175%;
  background     : linear-gradient(45deg, rgb(22, 29, 41, 0.9), rgb(22, 29, 41, 0.9)), url("/smokebg.png");
  background-size: cover;
  top            : 2725px;
}

.applicationBackground {
  background-image: url("/logo-stark.svg");
  background-size : cover;
  position        : absolute;
  width           : 40%;
  height          : 130%;
  top             : 4200px;
  left            : 0px;
}

.application {
  display       : flex;
  align-items   : center;
  flex-direction: row;
  width         : 100%;
  height        : 100%;
  margin-bottom : 10%;
}

.applicationContent {
  z-index: 1;
}

.applicationHeader {
  text-align    : left;
  font-size     : 30px;
  line-height   : 25px;
  letter-spacing: -0.011em;
  color         : #DCCB8D;
  padding       : 6%;
  margin-bottom : 30px;

}

.ApplicationGrid {
  display       : flex;
  flex-direction: column;
  gap           : 25px;
  ;
}

.applicationBar {
  display       : flex;
  flex-direction: row;
  background    : rgba(50, 52, 64, 0.8);
  box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius : 20px;
  width         : 711px;
  height        : 133px;
  left          : 154px;
  color         : #FFFFFF;
  font-size     : 28px;
  align-items   : center;

}

.applicationIcon {
  margin: 20px;
}

.applicationDesigns {
  position   : absolute;
  margin-top : 150px;
  width      : 1000px;
  height     : 500px;
  margin-left: 600px;
}

.rule {
  color      : #FFFFFF;
  font-weight: 600;
  padding    : 10% 0px;
  animation  : blinker 2s linear infinite;
}


.footer {
  display            : flex;
  justify-content    : space-between;
  flex-direction     : row;
  height             : 50%;
  width              : 100%;
  position           : relative;
  bottom             : 0px;
  background         : linear-gradient(45deg, rgb(22, 29, 41, 0.7), rgb(22, 29, 41, 0.7)), url("/smokebg.png");
  background-size    : cover;
  background-position: 0% 45%;
  align-items        : center;
  padding            : 3% 20%;
  margin-top         : 40px;
  color              : white;
}

.footer h1 {
  font-size      : xx-large;
  text-align     : left;
  color          : #FFFFFF;
  text-decoration: underline;
  height         : 0px;
}

.footer p {
  font-size : x-large;
  text-align: left;
  color     : #FFFFFF;
  margin    : 0px;
}

.footerLogo {
  position: relative;
  width   : 200px;
  height  : 200px;
}

.powered {
  display        : flex;
  flex-direction : column;
  gap            : 10px;
  justify-content: center;
  align-items    : center;
  width          : 20%;
}

.powered p {
  font-size : 20px;
  text-align: center;
}

.starknet {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  gap           : 10px;
}

.starknet p {
  font-size: 30px;
}

.starknet:hover {
  color: #2F4865;
}

.footerSections {
  position      : relative;
  display       : flex;
  flex-direction: row;
  gap           : 20%;
}

.footerSectionHeader {
  padding-bottom: 10%;
}

.socials {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  color          : #FFFFFF;
}

.socialIcon {
  width : 40px;
  height: 40px;
  cursor: pointer;
}

.socialIcon {
  transition: .5s;
}

.socialIcon:hover {
  color: #96A2BB;
}

.footerSectionContent {
  display       : flex;
  flex-direction: column;
  font-weight   : lighter;
  cursor        : pointer;
  text-align    : left;
}

.footerSectionContent a {
  transition: .5s;
}

.footerSectionContent a:hover {
  color: #96A2BB;
}


.documentation {
  left: 50%
}

.appText {
  color: #DCCB8D;
}

/* Mobile */
@media (max-width: 700px) {
  .navLinks {
    display: none;
  }

  .navLogoLeft {
    display: none;
  }

  .navbarContent {
    position       : relative;
    justify-content: center;
  }

  .navLogoCentre {
    position       : absolute;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    z-index        : 2;
  }

  .navLogoCentre:hover img {
    transform: scale(1.1);
  }

  .navLogoCentre img {
    cursor    : pointer;
    transition: .2s;
  }

  .navMenu {
    display                    : flex;
    width                      : 30px;
    height                     : 25px;
    cursor                     : pointer;
    transition                 : .2s;
    align-items                : center;
    position                   : absolute;
    left                       : 0;
    z-index                    : 7;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .navMenu .menu1.active {
    width      : 100%;
    top        : 100%;
    transform  : rotate(45deg);
    margin-top : -55%;
    left       : 0;
    margin-left: 0;
  }

  .navMenu .menu2.active {
    width      : 100%;
    transform  : rotate(-45deg);
    top        : 100%;
    margin-top : -55%;
    left       : 0;
    margin-left: 0;
  }

  .navMenu .menu3.active {
    opacity: 0;
  }

  .navMenuDropdown.active {
    display  : block;
    position : absolute;
    max-width: 200px;
    min-width: 30px;
    width    : 100%;
    left     : 0;
    top      : 100px;
    z-index  : 15;
    font-size: 20px;
  }

  .dropdownContent {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
    background    : #444B4E;
    border-radius : 10px;
    padding       : 20px;
    color         : #DCCB8D;
  }

  .menu {
    width     : 100%;
    height    : 100%;
    max-width : 50px;
    max-height: 50px;
    position  : relative;
    box-sizing: border-box;
    transition: all .5s;
    cursor    : pointer;
    overflow  : hidden;
  }

  .menuBar {
    position     : absolute;
    background   : white;
    left         : 0;
    right        : 0;
    height       : 5px;
    transition   : .2s;
    border-radius: 1rem;
  }

  .appButton {
    display: none;
  }

  .headerWrap {
    display       : flex;
    flex-direction: column;
    margin-top    : 20%;
    ;
  }

  .headerContent {
    padding: 0;
  }

  .headerContent p {
    font-size  : 40px;
    line-height: 50px;
  }

  .logo {
    width : 300px;
    height: 300px;
  }

  .headerAppButton {
    width: 45%;
  }

  .headerAppButton p {
    font-size: 12px;
  }

  .celticBackground {
    /* top: 150%; */
  }

  .section h1 {
    text-align: center;
  }

  /* .aboutContent {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
  } */

  .aboutBox {
    margin: 20px 50px;
  }

  .aboutBox2 {
    margin: 20px 50px;
  }

  .NFTCards {
    top  : 45%;
    right: 20%;
  }

  .NFTCard1 {
    width : 150px;
    height: 150px;
  }

  .NFTCard2 {
    width : 150px;
    height: 150px;
  }

  .NFTCard3 {
    width : 150px;
    height: 150px;
  }

  .statement {
    display       : flex;
    flex-direction: column;
  }

  .quote {
    width: 80%;
  }

  .statementContent ul {
    list-style-image: url(/mobile-bar.png);
  }

  .solutionsgrid {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    padding        : 0px;
    gap            : 40px;
  }

  .solutionsgrid p {
    font-size: large;
  }

  .solutionsgrid1 {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 40px;
  }

  .solutionsbox1 {
    margin: 0;
    width : 100%;
  }

  .solutionsbox2 {
    margin: 0;
    width : 100%;
  }

  .solutionsbox3 {
    margin: 0;
    width : 100%;
  }

  .feature {
    padding: 0;
  }

  .feature p {
    text-align: center;
  }

  .feature h1 {
    font-size: 42px;
  }

  .featuregrid {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    gap            : 30px;
  }

  .featureBox {
    width : 70%;
    height: 200px;
  }

  .featureBox h1 {
    margin   : 0;
    font-size: 26px;
  }

  .application {
    padding        : 0px 10%;
    justify-content: center;
  }

  .applicationBar {
    width: 100%;
  }

  .applicationBar p {
    font-size: 20px;
  }

  .applicationDesigns {
    margin-top  : 20%;
    margin-right: 600px;
    width       : 400px;
    height      : 250px;
  }

  .featureBackground {
    display: none;
  }

  .applicationBackground {
    top  : 4800px;
    width: 100%;
    left : -100px;
  }

  .rule {
    text-align: center;
  }

  .footer {
    padding: 3% 5%;
  }

  .footer p {
    font-size: large;
  }

  .footerLogo {
    width : 100px;
    height: 100px;
  }

  .footerSection.infoSection {
    display: none;
  }

  .socialIcon {
    width : 30px;
    height: 30px;
  }

  .powered {
    display: none;
  }
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .navbar a {
    font-size: 14px;
  }

  .appButton p {
    font-size: 14px;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.25;
  }
}