@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.main {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;
  min-height     : 100vh;
}

.section {
  padding        : 0px 10%;
  display        : flex;
  flex-direction : column;
  justify-content: space-evenly;
  align-items    : center;
  z-index        : 1;
  width          : 100%;
}

.section p {
  margin: 0px;
}

.navbar {
  position       : absolute;
  display        : flex;
  flex-direction : row;
  align-items    : center;
  justify-content: space-between;
  padding        : 0px 10%;
  width          : 100%;
  height         : 100px;
  z-index        : 1;
}

.navLogo {
  position: relative;
  display : inherit;
  width   : 100%;
  z-index : 2;

}

.navContent {
  display       : flex;
  flex-direction: row;
  gap           : 30%;
  width         : 100%;
}

.navLinks {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  gap           : 10%;
  color         : #FFFFFF;
  font-size     : larger;
}

.navLinks a:hover {
  color: #96A2BB;
}

.appButton {
  display        : flex;
  align-items    : center;
  justify-content: center;
  border-radius  : 5px;
  background     : #DCCB8D;
  font-weight    : bold;
  width          : 30%;
  padding        : 5px;
  cursor         : pointer;
}

.appButton:hover {
  background: #B9B7B9;
}

.appButton p {
  margin: 0px;
}

.appButton:hover .launchText {
  display: none;
}

.comingSoonText {
  display: none;
}

.appButton:hover .comingSoonText {
  display: block;
}


.grid {
  display              : grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width                : var(--max-width);
  max-width            : 100%;
}

.card {
  padding      : 1rem 1.2rem;
  border-radius: var(--border-radius);
  background   : rgba(var(--card-rgb), 0);
  border       : 1px solid rgba(var(--card-border-rgb), 0);
  transition   : background 200ms, border 200ms;
}

.card span {
  display   : inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight  : 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin     : 0;
  opacity    : 0.6;
  font-size  : 0.9rem;
  line-height: 1.5;
  max-width  : 30ch;
}

.header {
  min-height     : 100vh;
  height         : 100%;
  display        : flex;
  flex-direction : row;
  gap            : 10px;
  justify-content: center;
  align-items    : center;
  position       : relative;
  background     : linear-gradient(45deg, rgb(22, 29, 41, 0.3), rgb(22, 29, 41, 0.3)), url("/blueflamebg.png");
  background-size: cover;
  padding        : 0px 10%;
}

.headerContent p {
  font-family   : 'Neuton';
  font-style    : normal;
  font-weight   : 700;
  font-size     : 72px;
  line-height   : 91px;
  text-transform: uppercase;
  color         : #FFFFFF;
  padding       : 4rem;
}

.about {
  height         : 100%;
  width          : 100%;
  display        : flex;
  flex-direction : row;
  gap            : 10px;
  justify-content: center;
  align-items    : center;
  position       : relative;
  margin-bottom  : 10%;
}

.aboutContent {
  z-index: 20;
}

.aboutContent h1 {
  font-family   : 'Neuton';
  font-style    : normal;
  font-weight   : 400;
  font-size     : 60px;
  line-height   : 70px;
  text-transform: uppercase;
  letter-spacing: 0.0125em;
  color         : #DCCB8D;
  padding       : 4rem;


}

.aboutBox {
  background   : rgba(50, 52, 64, 0.7);
  box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding      : 4%;
  margin       : 20px;
  max-width    : 600px;
}

.aboutBox2 {
  background   : #B4A28B;
  box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding      : 4%;
  margin       : 20px;
  max-width    : 600px;
}

.aboutContent p {
  color    : #FFFFFF;
  font-size: 26px;
}

.celticBackground {
  position       : absolute;
  width          : 1650.55px;
  height         : 1487px;
  top            : 100%;
  width          : 100%;
  background     : linear-gradient(45deg, rgb(22, 29, 41, 0.5), rgb(22, 29, 41, 0.5)), url("/CelticBg.png");
  background-size: cover;
}


.logo {
  position: relative;
}

.NFTCards {
  flex-direction: row;
  position      : absolute;
  height        : 100%;
  width         : 100%;
  top           : 35%;
  left          : 50%;
}

.NFTCard1 {
  position: absolute;
  z-index : 6;


}

.NFTCard2 {
  position: absolute;
  left    : 10%;
  z-index : 5;

}

.NFTCard3 {
  position: absolute;
  left    : 20%;
  z-index : 4;

}


.statement {
  display        : flex;
  flex-direction : row;
  justify-content: center;
  align-items    : center;
  position       : relative;
  width          : 100%;
  margin-bottom  : 10%;
}


.statement h2 {
  font-size  : 40px;
  color      : #ffffff;
  position   : relative;
  align-items: center;

}

.statementContent {
  font-size  : 40px;
  color      : hsl(0, 11%, 98%);
  line-height: 40px;
}

.statementContentBox {

  width : 100%;
  height: 100%;

}

.statementContent ul {
  list-style-image: url("/bar.png");

}

.statementContent li {
  font-size: 60px;

}

.statementContent li span {
  font-size  : x-large;
  margin-left: 20px;

}

.statementContentBox p {
  color    : #96A2BB;
  font-size: 40px;

}

.quote {
  width: 50%;
}

.quote p {
  width : 80%;
  margin: auto;
}

.quoteMark1 {
  position   : relative;
  bottom     : -50px;
  font-size  : 100px;
  font-weight: bold;
  font-style : italic;
  color      : #FFFFFF;
  font-family: 'MedievalSharp', cursive;
}

.quoteMark2 {
  position   : relative;
  left       : 80%;
  font-size  : 100px;
  font-weight: bold;
  font-style : italic;
  color      : #FFFFFF;
  font-family: 'MedievalSharp', cursive;

}

.solution {
  display        : flex;
  gap            : 20px;
  width          : 100%;
  justify-content: center;
  align-items    : center;
  position       : relative;
  padding        : 0px 4rem;
  background-size: cover;
  margin-bottom  : 10%;
}

.solutionscontent {
  display       : flex;
  flex-direction: column;
  gap           : 40px;
}


.solution h1 {
  font-size      : 48px;
  line-height    : 61px;
  text-align     : center;
  color          : #FFFFFF;
  position       : relative;
  padding        : 2%;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  margin         : 0px;
}

.solutionsp {
  font-weight: 400;
  font-size  : 48px;
  line-height: 61px;
  text-align : center;
  color      : #DEC4A1;
}

.solutionsgrid {
  padding: 0px 10%;
}

.solutionsgrid p {
  font-size     : x-large;
  line-height   : 25px;
  letter-spacing: -0.011em;
  color         : #FFFFFF;
}


.solutionsgrid h1 {
  text-align    : left;
  font-size     : 30px;
  line-height   : 25px;
  letter-spacing: -0.011em;
  color         : #DCCB8D;
  margin        : 0px;
}

.solutionsgrid1 {
  width         : 100%;
  display       : flex;
  flex-direction: row;

}

.solutionsgrid2 {
  width         : 100%;
  flex-direction: column;
  display       : flex;
}

.solutionsbox1 {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  background    : rgba(50, 52, 64, 0.7);
  box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius : 20px;
  padding       : 4%;
  margin        : 30px;
  border        : 5px solid #DCCB8D;
  width         : 60%;
  position      : relative;
  height        : 100%;

}


.solutionsbox2 {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  background    : rgba(50, 52, 64, 0.7);
  box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius : 20px;
  width         : 60%;
  padding       : 4%;
  margin        : auto 0px;
  border        : 5px solid #DCCB8D;
  position      : relative;
  height        : 100%;
}

.solutionsbox3 {
  display       : flex;
  flex-direction: column;
  gap           : 20px;
  background    : rgba(50, 52, 64, 0.7);
  box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius : 20px;
  padding       : 4%;
  border        : 5px solid #DCCB8D;
  position      : relative;
  height        : 100%;
  width         : 50%;
  align-self    : center;
}

.solutionsfooter {
  color      : #DCCB8D;
  font-weight: 700;
  font-size  : 96px;
  line-height: 121px;
  text-align : center;
}

.solutionsfooterp {
  font-size  : 24px;
  line-height: 30px;
  text-align : center;
  color      : #FFFFFF;
}

.feature {
  display        : flex;
  flex-direction : column;
  gap            : 50px;
  justify-content: center;
  height         : 100%;
  width          : 100%;
  padding        : 5rem;
  margin-bottom  : 10%;
}

.feature h1 {
  font-size  : 64px;
  line-height: 16px;
  color      : #DCCB8D;
}

.feature p {
  font-size  : 36px;
  line-height: 46px;
  color      : #FFFFFF;
}

.featuregrid {
  display       : flex;
  flex-direction: row;
  gap           : 15px;
  position      : relative;
  width         : 100%;
  align-self    : center;
  padding       : 2rem;
}

.featureBox {
  background     : #323440;
  border         : 5px solid #DCCB8D;
  border-radius  : 20px;
  width          : 25%;
  padding        : 3%;
  align-items    : center;
  display        : flex;
  justify-content: center;
  flex-direction : column;
  cursor         : pointer;
}

.featureBox:hover {
  background: #B4A28B;
  transition: all 0.3s ease-in;
}

.featureBox:hover .icon {
  display   : none;
  transition: all 0.3s ease-out;
}

.featureBox:hover h1 {
  display   : none;
  transition: all 0.3s ease-out;
}

.featureText {
  display   : none;
  transition: all 0.3s ease-in;
}

.featureBox:hover .featureText {
  display    : block;
  font-weight: 400;
  font-size  : 22px;
  line-height: 22px;
  text-align : center;
  color      : #FFFFFF;
}

.featureBox h1 {
  font-weight: 400;
  font-size  : 26px;
  line-height: 30px;
  color      : #DCCB8D;
  text-align : center;

}

.featureBox .icon {
  align-items: center;
}

.featureBackground {
  position       : absolute;
  width          : 125%;
  height         : 175%;
  background     : linear-gradient(45deg, rgb(22, 29, 41, 0.9), rgb(22, 29, 41, 0.9)), url("/smokebg.png");
  background-size: cover;
  top            : 2875px;
}

.applicationBackground {
  background-image: url("/logo-stark.svg");
  background-size : cover;
  position        : absolute;
  width           : 40%;
  height          : 130%;
  top             : 4200px;
  left            : 0px;
}

.application {
  display       : flex;
  align-items   : center;
  flex-direction: row;
  width         : 100%;
  height        : 100%;
  margin-bottom : 10%;
}

.applicationContent {
  z-index: 1;
}

.applicationHeader {
  text-align    : left;
  font-size     : 30px;
  line-height   : 25px;
  letter-spacing: -0.011em;
  color         : #DCCB8D;
  padding       : 6%;
  margin-bottom : 30px;

}

.ApplicationGrid {
  display       : flex;
  flex-direction: column;
  gap           : 25px;
  ;
}

.applicationBar {
  display       : flex;
  flex-direction: row;
  background    : rgba(50, 52, 64, 0.8);
  box-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius : 20px;
  width         : 711px;
  height        : 133px;
  left          : 154px;
  color         : #FFFFFF;
  font-size     : 28px;
  align-items   : center;

}

.applicationIcon {
  margin: 20px;
}

.applicationDesigns {
  position  : absolute;
  margin-top: 10%;
  width     : 50%;
  height    : 50%;
  right     : 10%;
}

.rule {
  color      : #FFFFFF;
  font-weight: 600;
}


.footer {
  display            : flex;
  justify-content    : space-between;
  flex-direction     : row;
  width              : 100%;
  position           : relative;
  bottom             : 0px;
  background         : linear-gradient(45deg, rgb(22, 29, 41, 0.7), rgb(22, 29, 41, 0.7)), url("/smokebg.png");
  background-size    : cover;
  background-position: 0% 45%;
  align-items        : center;
  padding            : 3% 20%;
  margin-top         : 40px;
  color              : white;
}

.footer h1 {
  font-size      : xx-large;
  text-align     : left;
  color          : #FFFFFF;
  text-decoration: underline;
  height         : 0px;
}

.footer p {
  font-size : x-large;
  text-align: left;
  color     : #FFFFFF;
  margin    : 0px;
}

.powered {
  display        : flex;
  flex-direction : column;
  gap            : 10px;
  justify-content: center;
  align-items    : center;
  width          : 20%;
}

.powered p {
  font-size : 20px;
  text-align: center;
}

.starknet {
  display       : flex;
  flex-direction: row;
  align-items   : center;
  gap           : 10px;
}

.starknet p {
  font-size: 30px;
}

.footerSections {
  position      : relative;
  display       : flex;
  flex-direction: row;
  gap           : 20%;
}

.footerSectionHeader {
  padding-bottom: 10%;
}

.socials {
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  color          : #FFFFFF;
}

.socialIcon {
  width : 40px;
  height: 40px;
  cursor: pointer;
}

.socialIcon:hover {
  color: #96A2BB;
}

.footerSectionContent {
  display       : flex;
  flex-direction: column;
  font-weight   : lighter;
  cursor        : pointer;
  text-align    : left;
}

.footerSectionContent a:hover {
  color: #96A2BB;
}

.documentation {
  left: 50%
}

.appText {
  color: #DCCB8D;
}



/* Conic Gradient Animation */
.thirteen::before {
  animation : 6s rotate linear infinite;
  width     : 200%;
  height    : 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset        : 0;
  padding      : 1px;
  border-radius: var(--border-radius);
  background   : linear-gradient(to bottom right,
      rgba(var(--tile-start-rgb), 1),
      rgba(var(--tile-end-rgb), 1));
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border    : 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom        : 120px;
    max-width            : 320px;
    text-align           : center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height   : 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display        : flex;
    justify-content: center;
    position       : fixed;
    width          : 100%;
  }

  .description p {
    align-items  : center;
    inset        : 0 0 auto;
    padding      : 2rem 1rem 1.4rem;
    border-radius: 0;
    border       : none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background   : linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items   : flex-end;
    pointer-events: none;
    inset         : auto 0 0;
    padding       : 2rem;
    height        : 200px;
    background    : linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }

  .header {
    display       : flex;
    flex-direction: column;
  }

  .statement {
    display       : flex;
    flex-direction: column;
  }


}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@keyframes moveUpFadeIn {
  0% {
    bottom : -20px;
    opacity: 0;
  }

  100% {
    bottom : 0;
    opacity: 1;
  }
}